<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Collecting Job Data Using APIs**

In this notebook, we will:

Collect job data from Jobs API and  store the collected data into an excel spreadsheet.

To run the actual lab, firstly we need to click on the [Jobs_API](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/Jobs_API.ipynb) notebook link. The file contains flask code which is required to run the Jobs API data.

Now, to run the code in the file that opens up  we need to follow the below steps.

Step1: Download the file. 

Step2: Upload it on the IBM Watson studio.



Step3: We run all the cells of the Jobs_API file. (Even if we receive an asterik sign after running the last cell, the code works fine.)

## Dataset Used in this Assignment

The dataset used in this lab comes from the following source: https://www.kaggle.com/promptcloud/jobs-on-naukricom under the under a **Public Domain license**.

> Note: We are using a modified subset of that dataset for the lab, so to follow the lab instructions successfully please use the dataset provided with the lab, rather than the dataset from the original source.

The original dataset is a csv. We have converted the csv to json as per the requirement of the lab.

## Collect Jobs Data using Jobs API

We are going to determine the number of jobs currently open for various technologies  and for various locations

Collect the number of job postings for the following locations using the API:

* Los Angeles
* New York
* San Francisco
* Washington DC
* Seattle
* Austin
* Detroit

In [1]:
#Import required libraries
import pandas as pd
import json

 We Write a function to get the number of jobs for the Python technology.<br>

 ##### The keys in the json are 
 * Job Title
 
 * Job Experience Required
 
 * Key Skills
 
 * Role Category
 
 * Location
 
 * Functional Area
 
 * Industry
 
 * Role 
 
Wecan also view  the json file contents  from the following <a href = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json">json</a> URL.

In [2]:
!pip install requests

Requirement already satisfied: requests in c:\users\horizon\appdata\local\programs\python\python310\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\horizon\appdata\local\programs\python\python310\lib\site-packages (from requests) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\horizon\appdata\local\programs\python\python310\lib\site-packages (from requests) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\horizon\appdata\local\programs\python\python310\lib\site-packages (from requests) (2023.7.22)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\horizon\appdata\local\programs\python\python310\lib\site-packages (from requests) (2.0.4)

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import requests

In [4]:
api_url="http://127.0.0.1:5000/data/all"
def get_number_of_jobs_T(technology):
    
    response_api = requests.get(api_url)

    number_of_jobs = 0

    if response_api.ok:            
        jobs = response_api.json()

    for job in jobs:
        key = job.get('Key Skills')

        if key.find(technology) > -1 :
            number_of_jobs = number_of_jobs + 1

    number_of_jobs
    
    return technology,number_of_jobs

Calling the function for Python and checking if it works.

In [5]:
get_number_of_jobs_T("Python")

('Python', 1173)

We write a function to find number of jobs in US for a location ( here  Los Angeles)

In [6]:
def get_number_of_jobs_L(location):
    
    response_api = requests.get(api_url)

    number_of_jobs = 0

    if response_api.ok:            
        jobs = response_api.json()

    for job in jobs:
        loc = job.get('Location')

        if loc.find(location) > -1 :
            number_of_jobs = number_of_jobs + 1

    number_of_jobs
    return location,number_of_jobs
get_number_of_jobs_L("Los Angeles")

('Los Angeles', 640)

### Storing the results in an excel file

We call the API for all the given technologies above and write the results in an excel spreadsheet.
We Create a python list of all locations for which we need to find the number of jobs postings.

In [7]:
locations = ['Los Angeles','New York','San Francisco','Washington DC','Seattle','Austin','Detroit']

Import libraries required to create excel spreadsheet

In [8]:
from openpyxl import Workbook

Create a workbook and select the active worksheet

In [9]:
wb1 = Workbook()
ws1 = wb1.active

In [10]:
wb1

In [11]:
ws1

We find the number of jobs postings for each of the location in the above list
and Write the Location name and the number of jobs postings into the excel spreadsheet.

In [12]:
ws1.append(['Location','Number of Jobs'])

for i in range(len(locations)):
    ws1.append(get_number_of_jobs_L(locations[i]))

We save into an excel spreadsheet named 'job-postings.xlsx'.

In [13]:
wb1.save("2.a-job-postings (Collected from API).xlsx")
wb1.close()

In [14]:
df_loc=pd.read_excel('2.a-job-postings (Collected from API).xlsx')
df_loc.info()
df_loc.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Location        7 non-null      object
 1   Number of Jobs  7 non-null      int64
dtypes: int64(1), object(1)
memory usage: 240.0+ bytes

        Location  Number of Jobs
0    Los Angeles             640
1       New York            3226
2  San Francisco             435
3  Washington DC            5316
4        Seattle            3375

#### In the similar way, we can try for below given technologies and results  can be stored in an excel sheet.

Collect the number of job postings for the following languages using the API:

*   C
*   C#
*   C++
*   Java
*   JavaScript
*   Python
*   Scala
*   Oracle
*   SQL Server
*   MySQL Server
*   PostgreSQL
*   MongoDB

In [15]:
wb2 = Workbook()
ws2 = wb2.active

languages = ['C','C#','C++','Java','JavaScript','Python','Scala','Oracle','SQL Server','MySQL Server','PostgreSQL','MongoDB']

ws2.append(['Languages','Number of Jobs'])

for i in range(len(languages)):
    ws2.append(get_number_of_jobs_T(languages[i]))

wb2.save('2.a-job-postings-languages (Collected from API).xlsx')
wb2.close()

In [16]:
df_job=pd.read_excel('2.a-job-postings-languages (Collected from API).xlsx')
df_job.info()
df_job.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Languages       12 non-null     object
 1   Number of Jobs  12 non-null     int64
dtypes: int64(1), object(1)
memory usage: 320.0+ bytes

    Languages  Number of Jobs
0           C           13498
1          C#             333
2         C++             305
3        Java            2609
4  JavaScript             355