<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

In this assignment we will be performing data wrangling.

In this  part We  are going to :
-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11552 entries, 0 to 11551
Data columns (total 85 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Respondent              11552 non-null  int64
 1   MainBranch              11552 non-null  object
 2   Hobbyist                11552 non-null  object
 3   OpenSourcer             11552 non-null  object
 4   OpenSource              11471 non-null  object
 5   Employment              11552 non-null  object
 6   Country                 11552 non-null  object
 7   Student                 11499 non-null  object
 8   EdLevel                 11436 non-null  object
 9   UndergradMajor          10812 non-null  object
 10  EduOther                11388 non-null  object
 11  OrgSize                 11454 non-null  object
 12  DevType                 11485 non-null  object
 13  YearsCode               11543 non-null  object
 14  Age1stCode              11539 non-null  object
 15  YearsCodePro            11536 non-null  object
 16  CareerSat               11552 non-null  object
 17  JobSat                  11551 non-null  object
 18  MgrIdiot                11054 non-null  object
 19  MgrMoney                11050 non-null  object
 20  MgrWant                 11054 non-null  object
 21  JobSeek                 11552 non-null  object
 22  LastHireDate            11552 non-null  object
 23  LastInt                 11129 non-null  object
 24  FizzBuzz                11515 non-null  object
 25  JobFactors              11549 non-null  object
 26  ResumeUpdate            11511 non-null  object
 27  CurrencySymbol          11552 non-null  object
 28  CurrencyDesc            11552 non-null  object
 29  CompTotal               10737 non-null  float64
 30  CompFreq                11346 non-null  object
 31  ConvertedComp           10730 non-null  float64
 32  WorkWeekHrs             11427 non-null  float64
 33  WorkPlan                11429 non-null  object
 34  WorkChallenge           11384 non-null  object
 35  WorkRemote              11544 non-null  object
 36  WorkLoc                 11520 non-null  object
 37  ImpSyn                  11547 non-null  object
 38  CodeRev                 11551 non-null  object
 39  CodeRevHrs              9083 non-null   float64
 40  UnitTests               11523 non-null  object
 41  PurchaseHow             11354 non-null  object
 42  PurchaseWhat            11514 non-null  object
 43  LanguageWorkedWith      11541 non-null  object
 44  LanguageDesireNextYear  11415 non-null  object
 45  DatabaseWorkedWith      11096 non-null  object
 46  DatabaseDesireNextYear  10497 non-null  object
 47  PlatformWorkedWith      11130 non-null  object
 48  PlatformDesireNextYear  10991 non-null  object
 49  WebFrameWorkedWith      10139 non-null  object
 50  WebFrameDesireNextYear  9918 non-null   object
 51  MiscTechWorkedWith      9343 non-null   object
 52  MiscTechDesireNextYear  10078 non-null  object
 53  DevEnviron              11523 non-null  object
 54  OpSys                   11518 non-null  object
 55  Containers              11470 non-null  object
 56  BlockchainOrg           9198 non-null   object
 57  BlockchainIs            8915 non-null   object
 58  BetterLife              11452 non-null  object
 59  ITperson                11517 non-null  object
 60  OffOn                   11514 non-null  object
 61  SocialMedia             11251 non-null  object
 62  Extraversion            11532 non-null  object
 63  ScreenName              11039 non-null  object
 64  SOVisit1st              11227 non-null  object
 65  SOVisitFreq             11547 non-null  object
 66  SOVisitTo               11551 non-null  object
 67  SOFindAnswer            11549 non-null  object
 68  SOTimeSaved             11501 non-null  object
 69  SOHowMuchTime           9616 non-null   object
 70  SOAccount               11551 non-null  object
 71  SOPartFreq              10404 non-null  object
 72  SOJobs                  11546 non-null  object
 73  EntTeams                11547 non-null  object
 74  SOComm                  11552 non-null  object
 75  WelcomeChange           11463 non-null  object
 76  SONewContent            9557 non-null   object
 77  Age                     11255 non-null  float64
 78  Gender                  11477 non-null  object
 79  Trans                   11429 non-null  object
 80  Sexuality               11005 non-null  object
 81  Ethnicity               10869 non-null  object
 82  Dependents              11408 non-null  object
 83  SurveyLength            11533 non-null  object
 84  SurveyEase              11538 non-null  object
dtypes: float64(5), int64(1), object(79)
memory usage: 7.5+ MB

## Finding duplicates

 Find how many duplicate rows exist in the dataframe.

In [4]:
duplicated_rows = df[df.duplicated()]
len(duplicated_rows)

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [5]:
df.drop_duplicates(inplace=True)

Verify if duplicates were actually dropped.

In [6]:
duplicated_rows = df[df.duplicated()]
len(duplicated_rows)

0

## Finding Missing values

Find the missing values for all columns.

In [7]:
import numpy as np
missing_data = df.isnull()
missing_data

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11547,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11548,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11549,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11550,False,False,False,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,False,False
11551,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Find out how many rows are missing in the column 'WorkLoc'

In [12]:
df['WorkLoc'].isnull().sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [13]:
print('WorkLoc')
print (missing_data['WorkLoc'].value_counts())

WorkLoc
WorkLoc
False    11366
True        32
Name: count, dtype: int64

In [14]:
#Counting missing values for all columns

for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Respondent
Respondent
False    11398
Name: count, dtype: int64

MainBranch
MainBranch
False    11398
Name: count, dtype: int64

Hobbyist
Hobbyist
False    11398
Name: count, dtype: int64

OpenSourcer
OpenSourcer
False    11398
Name: count, dtype: int64

OpenSource
OpenSource
False    11317
True        81
Name: count, dtype: int64

Employment
Employment
False    11398
Name: count, dtype: int64

Country
Country
False    11398
Name: count, dtype: int64

Student
Student
False    11347
True        51
Name: count, dtype: int64

EdLevel
EdLevel
False    11286
True       112
Name: count, dtype: int64

UndergradMajor
UndergradMajor
False    10661
True       737
Name: count, dtype: int64

EduOther
EduOther
False    11234
True       164
Name: count, dtype: int64

OrgSize
OrgSize
False    11302
True        96
Name: count, dtype: int64

DevType
DevType
False    11333
True        65
Name: count, dtype: int64

YearsCode
YearsCode
False    11389
True         9
Name: count, dtype: int64

Age1stCode
Age1stCode
False    11385
True        13
Name: count, dtype: int64

YearsCodePro
YearsCodePro
False    11382
True        16
Name: count, dtype: int64

CareerSat
CareerSat
False    11398
Name: count, dtype: int64

JobSat
JobSat
False    11397
True         1
Name: count, dtype: int64

MgrIdiot
MgrIdiot
False    10905
True       493
Name: count, dtype: int64

MgrMoney
MgrMoney
False    10901
True       497
Name: count, dtype: int64

MgrWant
MgrWant
False    10905
True       493
Name: count, dtype: int64

JobSeek
JobSeek
False    11398
Name: count, dtype: int64

LastHireDate
LastHireDate
False    11398
Name: count, dtype: int64

LastInt
LastInt
False    10985
True       413
Name: count, dtype: int64

FizzBuzz
FizzBuzz
False    11361
True        37
Name: count, dtype: int64

JobFactors
JobFactors
False    11395
True         3
Name: count, dtype: int64

ResumeUpdate
ResumeUpdate
False    11359
True        39
Name: count, dtype: int64

CurrencySymbol
CurrencySymbol
False    11398
Name: count, dtype: int64

CurrencyDesc
CurrencyDesc
False    11398
Name: count, dtype: int64

CompTotal
CompTotal
False    10589
True       809
Name: count, dtype: int64

CompFreq
CompFreq
False    11192
True       206
Name: count, dtype: int64

ConvertedComp
ConvertedComp
False    10582
True       816
Name: count, dtype: int64

WorkWeekHrs
WorkWeekHrs
False    11276
True       122
Name: count, dtype: int64

WorkPlan
WorkPlan
False    11277
True       121
Name: count, dtype: int64

WorkChallenge
WorkChallenge
False    11234
True       164
Name: count, dtype: int64

WorkRemote
WorkRemote
False    11390
True         8
Name: count, dtype: int64

WorkLoc
WorkLoc
False    11366
True        32
Name: count, dtype: int64

ImpSyn
ImpSyn
False    11393
True         5
Name: count, dtype: int64

CodeRev
CodeRev
False    11397
True         1
Name: count, dtype: int64

CodeRevHrs
CodeRevHrs
False    8972
True     2426
Name: count, dtype: int64

UnitTests
UnitTests
False    11369
True        29
Name: count, dtype: int64

PurchaseHow
PurchaseHow
False    11202
True       196
Name: count, dtype: int64

PurchaseWhat
PurchaseWhat
False    11360
True        38
Name: count, dtype: int64

LanguageWorkedWith
LanguageWorkedWith
False    11387
True        11
Name: count, dtype: int64

LanguageDesireNextYear
LanguageDesireNextYear
False    11264
True       134
Name: count, dtype: int64

DatabaseWorkedWith
DatabaseWorkedWith
False    10945
True       453
Name: count, dtype: int64

DatabaseDesireNextYear
DatabaseDesireNextYear
False    10356
True      1042
Name: count, dtype: int64

PlatformWorkedWith
PlatformWorkedWith
False    10987
True       411
Name: count, dtype: int64

PlatformDesireNextYear
PlatformDesireNextYear
False    10854
True       544
Name: count, dtype: int64

WebFrameWorkedWith
WebFrameWorkedWith
False    10005
True      1393
Name: count, dtype: int64

WebFrameDesireNextYear
WebFrameDesireNextYear
False    9781
True     1617
Name: count, dtype: int64

MiscTechWorkedWith
MiscTechWorkedWith
False    9216
True     2182
Name: count, dtype: int64

MiscTechDesireNextYear
MiscTechDesireNextYear
False    9943
True     1455
Name: count, dtype: int64

DevEnviron
DevEnviron
False    11369
True        29
Name: count, dtype: int64

OpSys
OpSys
False    11364
True        34
Name: count, dtype: int64

Containers
Containers
False    11316
True        82
Name: count, dtype: int64

BlockchainOrg
BlockchainOrg
False    9076
True     2322
Name: count, dtype: int64

BlockchainIs
BlockchainIs
False    8788
True     2610
Name: count, dtype: int64

BetterLife
BetterLife
False    11300
True        98
Name: count, dtype: int64

ITperson
ITperson
False    11363
True        35
Name: count, dtype: int64

OffOn
OffOn
False    11360
True        38
Name: count, dtype: int64

SocialMedia
SocialMedia
False    11105
True       293
Name: count, dtype: int64

Extraversion
Extraversion
False    11378
True        20
Name: count, dtype: int64

ScreenName
ScreenName
False    10891
True       507
Name: count, dtype: int64

SOVisit1st
SOVisit1st
False    11073
True       325
Name: count, dtype: int64

SOVisitFreq
SOVisitFreq
False    11393
True         5
Name: count, dtype: int64

SOVisitTo
SOVisitTo
False    11397
True         1
Name: count, dtype: int64

SOFindAnswer
SOFindAnswer
False    11395
True         3
Name: count, dtype: int64

SOTimeSaved
SOTimeSaved
False    11348
True        50
Name: count, dtype: int64

SOHowMuchTime
SOHowMuchTime
False    9481
True     1917
Name: count, dtype: int64

SOAccount
SOAccount
False    11397
True         1
Name: count, dtype: int64

SOPartFreq
SOPartFreq
False    10270
True      1128
Name: count, dtype: int64

SOJobs
SOJobs
False    11392
True         6
Name: count, dtype: int64

EntTeams
EntTeams
False    11393
True         5
Name: count, dtype: int64

SOComm
SOComm
False    11398
Name: count, dtype: int64

WelcomeChange
WelcomeChange
False    11313
True        85
Name: count, dtype: int64

SONewContent
SONewContent
False    9433
True     1965
Name: count, dtype: int64

Age
Age
False    11111
True       287
Name: count, dtype: int64

Gender
Gender
False    11325
True        73
Name: count, dtype: int64

Trans
Trans
False    11275
True       123
Name: count, dtype: int64

Sexuality
Sexuality
False    10856
True       542
Name: count, dtype: int64

Ethnicity
Ethnicity
False    10723
True       675
Name: count, dtype: int64

Dependents
Dependents
False    11258
True       140
Name: count, dtype: int64

SurveyLength
SurveyLength
False    11379
True        19
Name: count, dtype: int64

SurveyEase
SurveyEase
False    11384
True        14
Name: count, dtype: int64

In [17]:
#We find the value counts for the column WorkLoc

print (df['WorkLoc'].value_counts())

WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

Identify Office  is most frequent (majority) in the WorkLoc column.

In [20]:
#Replace(impute) missing values by Office 
df['WorkLoc'].replace(np.nan, 'Office', inplace=True)

In [19]:
print (df['WorkLoc'].value_counts())

WorkLoc
Office                                            6838
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

Verify if imputing was successful.

In [21]:
df['WorkLoc'].isnull().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section we will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [22]:
print('CompFreq')
print (df['CompFreq'].value_counts())

CompFreq
CompFreq
Yearly     6073
Monthly    4788
Weekly      331
Name: count, dtype: int64

In [29]:
print('CompTotal')
print (df['CompTotal'].value_counts())

CompTotal
CompTotal
70000.0      241
60000.0      239
50000.0      223
100000.0     218
80000.0      194
            ...
163500.0       1
2530000.0      1
1.0            1
162929.0       1
74400.0        1
Name: count, Length: 1509, dtype: int64

We create a new column named 'NormalizedAnnualCompensation', using the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal.

If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year).

If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year).

In [23]:
norm_annual_comp = []

for i in range(len(df)):
    
    if df['CompFreq'].iloc[i] == 'Weekly':
        norm_annual_comp.append(df['CompTotal'].iloc[i]*52)
    elif df['CompFreq'].iloc[i] == 'Monthly':
        norm_annual_comp.append(df['CompTotal'].iloc[i]*12)
    else:
        norm_annual_comp.append(df['CompTotal'].iloc[i]*1)

df['NormalizedAnnualCompensation']= norm_annual_comp
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,NormalizedAnnualCompensation
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,61000.0
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult,138000.0
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy,90000.0
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult,348000.0
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy,90000.0

In [24]:
df['NormalizedAnnualCompensation']

0         61000.0
1        138000.0
2         90000.0
3        348000.0
4         90000.0
           ...
11547    130000.0
11548     74400.0
11549    105000.0
11550     80000.0
11551         NaN
Name: NormalizedAnnualCompensation, Length: 11398, dtype: float64

In [26]:
df['NormalizedAnnualCompensation'].value_counts()

NormalizedAnnualCompensation
60000.0     241
120000.0    170
70000.0     169
90000.0     157
100000.0    152
           ...
141994.0      1
133332.0      1
9012.0        1
407400.0      1
272760.0      1
Name: count, Length: 1731, dtype: int64

In [28]:
df['NormalizedAnnualCompensation'].describe()

count    1.058900e+04
mean     6.133295e+06
std      9.838157e+07
min      0.000000e+00
25%      5.200000e+04
50%      1.000000e+05
75%      3.600000e+05
max      8.400000e+09
Name: NormalizedAnnualCompensation, dtype: float64